<!doctype html>
{% load staticfiles %}
{% load js %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}" />
    <style type="text/css">
        html, body { height: 100%; margin: 50px; padding: 90px; }
        #map { height: 100%; margin: 100px; padding: 100px;}
    </style>
    <script data-main="{% static 'scripts/main.js' %}" src="{% static 'scripts/require.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>

<title>Location Recommendation - Baltimore</title>
<div class=page>
  <h1>Location Recommendation - Baltimore</h1>
  <div class=metanav>

    <h2>
        Searching for a new home or business location in Baltimore? Let me help!
    </h2>
    <p>
        In the field below, enter the address of a location in Baltimore that you'd like your new home or business to be close to. Then check the boxes next to the criteria that are important to you.
        When you click 'submit,' all of your criteria will be taken into account in order to produce a location recommendation.
    </p>

    <form action="{% url 'loc_rec.views.index' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>

  </div>
</div>
<body>
    <div id="map"></div>
</body>
