<!doctype html>
<title>Location Recommendation - Baltimore</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='stylesheet.css')}}'>
<div class=page>
  <h1>Location Recommendation - Baltimore</h1>
  <div class=metanav>

    <h2>
        Searching for a new home or business location in Baltimore? Let me help!
    </h2>
    <p>
        In the field below, enter the address of a location in Baltimore that you'd like your new home or business to be close to. Then check the boxes next to the criteria that are important to you.
        When you click 'submit,' all of your criteria will be taken into account in order to produce a location recommendation.
    </p>

    <form id='index_locrec' method='POST' action='/' >
     <p>
        Address: <input type='text' name='address' size='35'><br>
        <input type="checkbox" name="arrests_data" value="True"> Low level of crime<br>
        <input type="checkbox" name="vacant_homes_data" value="True"> Low rate of vacant buildings<br>
        <input type="checkbox" name="grocery_data" value="True"> Access to full supermarkets<br>
        <input type="checkbox" name="top50_data" value="True"> Access to top 50 restaurants<br>
    </p>
     <p>
        <input type='submit' value='Submit'>
     </p>
    </form>

  </div>
</div>
