<!doctype html>
<title>Location Recommendation - Baltimore</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='stylesheet.css')}}'>
<div class=page>
  <h1>Location Recommendation - Baltimore</h1>
  <div class=metanav>

    <h2>Searching for a new home or business location in Baltimore? Let me help!
    </h2>
    <p>In the field below, enter the address of a location in Baltimore that you'd like your new home or storefront to be close to.
        We'll then take into account the following data to recommend a good location:
        <ul>
            <li>Crime statistics (lots of crime is bad)</li>
            <li>Vacant homes (lots of vacant homes are bad)</li>
            <li>Grocery store locations (being close to full grocery stores is good)</li>
        </ul>
    </p>

    <form id='index_locrec' method='POST' action='/' >
      <p>
    Address: <input type='text' name='address'>
      </p>
      <p>
    <input type='submit' value='Submit'>
      </p>
    </form>

  </div>
</div>
