<!doctype html>
<title>Location Recommendation - Baltimore</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='stylesheet.css')}}'>
<div class=page>
  <h1>Location Recommendation - Baltimore</h1>
    <h2>
    You asked for a good location near {{original_address}}.
    </h2>
    <p>Here is the heatmap (dark red is a good location, dark blue is bad).
        Based on the data, I recommend you search for a location near:<br><em>{{recommended_address}}</em>
    </p>
    <img src="{{ url_for('img', special_address = original_address) }}"  width='500' alt="recommendation map">
    <p>Thanks for trying out this app! The following new features are coming soon:
        <ul>
            <li>Include more locations in your search.</li>
            <li>Modify and add search criteria (restaurants, parks, bike lanes, etc.).</li>
            <li>Interface with Google Maps for more detailed recommendations.</li>
            <li>More aesthetically pleasing page design...</li>
        </ul>
    To learn more about how your recommendation was computed, or if you'd just like to have a look at the code, visit the repository on <a href="https://github.com/dvdwllc/loc_rec">GitHub.</a>
    </p>
  </div>
</div>