<!doctype html>
<title>Location Recommendation - Baltimore</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='stylesheet.css')}}'>
<div class=page>
  <h1>Location Recommendation - Baltimore</h1>
    <h2>
    You asked for a good location near {{original_address}}.
    </h2>
    <p>Here is the heatmap (dark red is a good location, dark blue is bad).
        Based on the data, I recommend you search for a location near:<br><em>{{recommended_address}}</em>
    </p>
    <img src="{{ url_for('img', special_address = original_address) }}"  width='500' alt="recommendation map">
  </div>
</div>